@import url('globales.css');
@import url('componentes/navbar.css');

body {
    overflow-y: scroll !important;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
    /* Ancho del scrollbar */
}

/* Estilo de la pista del scrollbar */
::-webkit-scrollbar-track {
    background: #f0f0f0; 
    /* Color claro de la pista */
    border-radius: 10px;
    /* Bordes redondeados */
}

/* Estilo del thumb (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    /* Color claro del thumb */
    border-radius: 10px;
    /* Bordes redondeados */
    border: 3px solid #f0f0f0;
    /* Borde para darle más espacio y apariencia suave */
}

/* Hover en el thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #b0b0b0;
    /* Color más oscuro al pasar el mouse */
}

.wrapper-inicio {
    background-image: url('../img/fondos/fondo5.webp');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    transition: background-image 0.5s ease-in-out!important;
}

.inicio {
    height: calc(100vh - 110px);
    position: relative;
}

.inicio .celeste {
    background-color: rgba(var(--color-primario), 65%);
}

.inicio .negro {
    background-color: rgba(var(--color-secundario), 65%);
}

.inicio .lateral {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 40px;
}

/*
    EL TITULO DEL LATERAL (NOMBRE DE LA ESCUELA)
*/

.inicio .lateral h2 {
    font-size: 3.5rem;
    text-wrap: balance;
    padding-left: 80px;
    position: relative;
    z-index: 600;
}

.inicio .lateral h2::before {
    content: 'Escuela de Educación Secundaria Tecnica Nro°1';
    position: absolute;
    left: 4px;
    padding-left: 80px;
    top: 4px;
    color: #000;
    z-index: -1;
}

/*
    CUADRADOS DE LAS SECCIONES DE LA WEB
*/

.inicio section {
    width: 50%;
}

.inicio .secciones {
    margin: 0 0 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.inicio .secciones article {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    z-index: 100;
}

.inicio .secciones article p {
    position: relative;
    z-index: 500;
    transition: all 0.3s ease;
}

.inicio .secciones a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio .secciones a:hover {
    border-bottom: 0;
}

/*
    CUADRADO DE ESPECIALIDADES
*/

.inicio .secciones .especialidades::before {
    content: '';
    background-color: rgba(var(--color-secundario), 65%);
    width: 100%;
    height: 50%;
    z-index: 1;
    top: 0;
    transform: translateY(0);
    position: absolute;
    transition: all 0.5s ease;
}

.inicio .secciones .especialidades::after {
    content: '';
    background-color: rgba(var(--color-secundario), 65%);
    width: 100%;
    height: 50%;
    bottom: 0;
    transform: translateY(0);
    position: absolute;
    z-index: 1;
    transition: all 0.5s ease;
}

.inicio .secciones .botones {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.3s ease;
}

.inicio .secciones .botones a {
    background-color: rgb(0 62 125 / 50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease;
}

.inicio .secciones .botones a:first-child {
    border-bottom: 1px solid #fff;
}

.inicio .secciones .especialidades .botones a:hover {
    background-color: rgb(0 62 125 / 70%);
}

.inicio .secciones .especialidades:hover .botones {
    opacity: 100%;
}

.inicio .secciones .especialidades:hover p {
    opacity: 0;
    z-index: -1;
    cursor: default;
}

.inicio .secciones .especialidades:hover::before {
    content: '';
    z-index: 2;
    transform: translateY(-100%);
    background-color: rgb(0 33 65 / 5%);
}

.inicio .secciones .especialidades:hover::after {
    content: '';
    z-index: 2;
    background-color: rgb(0 33 65 / 5%);
    transform: translateY(100%);
}

.inicio .secciones .especialidades:hover p::before {
    transform: translateY(-200px);
}

.inicio .secciones .especialidades:hover p::after {
    transform: translateY(200px);
}

/*
    LINEAS DE LOS TEXTOS EN LOS CUADRADOS 
*/

.inicio .secciones .especialidades p::before,
.inicio .secciones .directivos p::before {
    content: '';
    width: 50%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 0;
    transition: all 0.5s ease;
}

.inicio .secciones .especialidades p::after,
.inicio .secciones .directivos p::after {
    content: '';
    width: 50%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
    right: 0;
    transition: all 0.5s ease;
}


@media (max-width: 1035px) {
    .inicio .secciones {
        grid-template-columns: 1fr;
    }

    .inicio .campos {
        background-color: rgba(var(--color-secundario), 65%);
    }

    .inicio .directivos {
        background-color: rgba(var(--color-secundario), 65%);
    }

    .inicio .secciones article {
        font-size: 36px;
    }

    .inicio .lateral h2,
    .inicio .lateral h2::before {
        font-size: 2.5rem;
        padding-left: 30px;
    }

}

@media (660px <= width < 1035px) {
    .inicio .celeste:nth-child(3) {
        background-color: rgba(var(--color-secundario), 65%);
    }
    
    .inicio .negro:nth-child(4) {
        background-color: rgba(var(--color-primario), 65%);
    }
}

@media (max-width: 660px) {
    .inicio {
        display: flex;
        flex-direction: column;
    }

    .inicio .secciones article {
        font-size: 28px;
    }

    .inicio .secciones {
        display: grid;
        margin: auto 0 0 0;
        grid-template-columns: 1fr 1fr;
        height: 50%;
        width: 100%;
    }

    .inicio .lateral {
        position: relative;
        height: 50%;
        width: 100%;
        padding: 0;
        text-align: center;
        margin: 0;
    }

    .inicio .lateral h2,
    .inicio .lateral h2::before {
        padding: 0;
    }
}

@media (max-width: 440px) {
    .inicio .secciones article {
        font-size: 20px;
    }

    .inicio .lateral h2,
    .inicio .lateral h2::before {
        font-size: 1.6rem;
    }
}

/* estilo de sobre nosotros */
#sobre_nosotros {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 5% 0px;
    background-color: #ffffff;

}

/* Estilo para el contenedor */
#sobre_nosotros .container {
    position: relative;
    left: 20%;
    background-color: rgba(var(--color-primario), 65%);
    padding: 100px 200px;
    text-align: left;
    height: 38vh;
    width: 100%;
    margin-bottom: 5%;

}




#sobre_nosotros .container h1 {
    font-size: 6vw;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px #1d1d1d;
    margin: 0;
    display: inline;
    position: absolute;
    left: -5%;
    top: 25%;
    width: 90% !important;
}

#sobre_nosotros .container p {
    width: 90% !important;
    font-size: 3vw;
    font-weight: 500;
    font-weight: bold;
    color: #111111;
    margin-top: 20px;
    position: absolute;
    top: 75%;
    left: 0%;

}

.img-visible p {
    transition: all .5s ease-in-out;
    left: -5% !important;
}

.img-visible h1 {
    left: 2% !important;
    transition: all .5s ease-in-out;
}

#sobre_nosotros .cont_text {

    min-height: 60vh;
    height: auto;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    background-color: transparent;
}

#sobre_nosotros .cont_text .img-visible {
    transition: transform 0.5s ease-in-out;
    transform: translateY(-20px) !important;
}

#sobre_nosotros .reverse {
    flex-direction: row-reverse;
}

#sobre_nosotros .cont_text .img {

    height: 50vh !important;
    width: 50% !important;
    border-radius: 20px;
    transform: translateY(0px);
}

#sobre_nosotros .cont_text .text {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #000;
}
#sobre_nosotros .cont_text .text p{
    margin-top: 8%;
    font-size: 1.1em;
    
} 

#sobre_nosotros .cont_text .text h2 {
    font-size: 2.2em;
    position: relative;
}

#sobre_nosotros .cont_text .text h2::after {
    position: absolute;
    content: '';
    width: 30%;
    left: 0;
    height: 4px;
    background-color: rgba(30, 68, 236, 0.925);
    transition: all .2s ease-in-out;
    bottom: -20%;
}
@media (max-width: 1450px) {
    #sobre_nosotros .cont_text{
        width: 90%;
    }
}
/* @media (max-width: 1100px) {
    #sobre_nosotros .cont_text{
 
    }
} */

@media (max-width: 1030px) {

    #sobre_nosotros .cont_text{
        display: flex;
        justify-content: center;
        align-items: center !important;
        
        padding: 10px;
    }
    #sobre_nosotros .cont_text .text p{
        
        display: flex;
        justify-content: center;
        align-items: center !important;
        width: 100%;
        
    }
    #sobre_nosotros .cont_text .img{
        height: 40% !important;
    }
    
}